@mixin button {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
    background-color: $brand-light;
    border-radius: 5px;
    padding: 2em 1em;
    cursor: pointer;

    &:hover, &:focus {
        opacity: .75;
    }
}
