@mixin button {
    color: inherit;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    border: solid 2px transparent;
    border-radius: 100px;
    padding: 0.25em 3em;
    cursor: pointer;
    transition: all 150ms linear;
    text-align: center;
    text-transform: uppercase;

    --primary-btn-color: #{color('brand-light')};
    --secondary-btn-color: #{color('brand')};
    --bg-btn-color: #{color('white')};

    --btn-color: var(--bg-btn-color);
    --btn-bg-color: var(--primary-btn-color);
    --btn-border-color: var(--primary-btn-color);
    --btn-hover-color: var(--bg-btn-color);
    --btn-hover-bg-color: var(--secondary-btn-color);
    --btn-hover-border-color: var(--secondary-btn-color);

    color: var(--btn-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);

    &:focus {
        text-decoration: none;
        color: var(--btn-color)
    }
    &:visited {
        text-decoration: none;
    }
    &:hover, &:active {
        color: var(--btn-hover-color);
        background-color: var(--btn-hover-bg-color);
        border-color: var(--btn-hover-border-color);
        text-decoration: none;
    }
}

button {
    cursor: pointer;
}

a {
    color: color('brand');

    &:hover, &:active, &:focus {
        text-decoration: underline;
    }
}

.btn {
    @include button;


    &.dark {
        --btn-bg-color: #{color('brand')};
        --btn-border-color: #{color('brand')};
        --btn-hover-border-color: #{color('white')};
        --btn-hover-bg-color: transparent;
    }

    &.uppercase {
        font-weight: 600;
    }

    &.tight {
        padding-inline: spacing(0);
    }

    &.locked {
        --btn-bg-color: #{color('gray-500')};
        --btn-border-color: #{color('gray-500')};
        --btn-hover-bg-color: #{color('gray-600')};
        --btn-hover-border-color: #{color('gray-600')};
    }

    &.brand {
        --primary-btn-color: #{color('brand')};
        --secondary-btn-color: #{color('brand-light')};
        --bg-btn-color: #{color('white')};
    }

    &.light {
        --primary-btn-color: #{color('brand-light')};
        --secondary-btn-color: #{color('brand')};
        --bg-btn-color: #{color('white')};
    }

    &.green {
        --primary-btn-color: #{color('success')};
        --secondary-btn-color: #{color('success')};
        --bg-btn-color: #{color('white')};
    }
    &.red {
        --primary-btn-color: #{color('error-main')};
        --secondary-btn-color: #{color('error-main')};
        --bg-btn-color: #{color('white')};
    }

    &.outline {
        --btn-color: var(--primary-btn-color);
        --btn-bg-color: var(--bg-btn-color);
        --btn-border-color: var(--primary-btn-color);
        --btn-hover-color: var(--bg-btn-color);
        --btn-hover-bg-color: var(--primary-btn-color);
        --btn-hover-border-color: var(--primary-btn-color);

        &.dark {
            --btn-color: var(--bg-btn-color);
            --btn-bg-color: transparent;
            --btn-border-color: var(--bg-btn-color);
            --btn-hover-bg-color: var(--primary-btn-color);
            --btn-hover-border-color: var(--bg-btn-color);
        }
    }

    &.no-outline {
        --btn-color: #{color('brand-light')};
        --btn-bg-color: #{color('white')};
        --btn-border-color: transparent;
        --btn-hover-color: #{color('brand-light')};
        --btn-hover-bg-color: #{color('white')};
        --btn-hover-border-color: #{color('brand-light')};
    }

    &.selected {
        --btn-border-color: #{color('brand-dark')};
    }

    &.small {
        font-size: font-size(-1);
    }

    &.large {
        font-size: font-size(1);
    }

    &[aria-disabled="true"],
    &.disabled {
        --btn-color: #{color('white')};
        --btn-bg-color: #{color('gray-700')};
        --btn-border-color: #{color('gray-700')};
        --btn-hover-bg-color: #{color('gray-600')};
        --btn-hover-border-color: #{color('gray-600')};
    }

}

.menu-btn {
    @include button;

    border-radius: var(--border-radius);
    padding: spacing(-3);
    font-weight: 500;
    text-align: start;
    text-transform: none;

    display: flex;
    align-items: center;

    --btn-color: #{color('gray-900')};
    --btn-bg-color: none;
    --btn-border-color: transparent;
    --btn-hover-color: #{color('brand-light')};
    --btn-hover-bg-color: none;
    --btn-hover-border-color: transparent;

    &.selected {
        background-color: color('brand-fade');
    }

    &.red {
        --btn-hover-color: #{color('error-main')};
    }

    &:hover {
        text-decoration: none;
    }

    &[aria-disabled="true"] {
        color: #{color('gray-400')};
        --btn-hover-color: #{color('gray-400')};
        font-style: italic;
        cursor: default;

        .icon {
            color: color('gray-400');
        }
    }
    &[data-locked] {
        .icon {
            color: color('gray-400');
        }
    }

    .icon {
        margin-inline-end: 0.5em;
        font-size: 1.3em;
    }

    &[data-active] {
        color: var(--btn-hover-color);
        font-weight: 600;
    }
}

.card-btn[role="button"],
button.card-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    padding: spacing(0);
    box-shadow: var(--z-box-shadow-medium);
    border-radius: var(--border-radius);
    transition: color, background-color 100ms linear;
    color: color('black');
    background-color: color('white');

    & > * {
        pointer-events: none;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: color('brand-light');
        color: white;
        text-decoration: none;

        &[aria-disabled="true"] {
            background-color: color('gray-500');
        }

        > .brand-light {
            transition: color 100ms linear;
            color: white;
        }
    }
}

.grid-link[role="button"] {
    justify-content: space-between;

    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: color('black');
    background-color: color('white');

    height: 100%;
    padding-inline: spacing(2);

    & .icon {
        font-size: 6rem;
    }

    &[data-completed],
    &[data-locked] {
        & .icon {
            color: color('gray-500');
        }
    }
    &:hover,
    &:active,
    &:focus {
        &[data-completed] {
            background-color: color('white');
            color: color('gray-500');

            & .icon {
                color: color('gray-500');
            }
        }
        &[data-locked] {
            background-color: color('gray-700');

            & .icon {
                color: color('white');
            }
        }
    }
}

.link-light {
    color: color('white');

    &:hover, &:active, &:focus {
        color: color('white');
    }
}

.icon-btn {
    display: flex;
    align-items: center;
    line-height: 1;
    padding: spacing(-2);
    border-radius: 100px;
}

.icon-btn-group {
    display: flex;
    width: fit-content;

    border-radius: 100px;
    overflow: hidden;
    border: 1px solid color('brand-light');

    padding: 0;
    line-height: 1;
    font-size: font-size(1);

    & > button {
        padding: spacing(-4) spacing(-2);
        color: color('brand-light');
    }

    & .selected {
        color: color('white');
        background-color: color('brand-light');
    }
}

.close-btn {
    border-radius: 100%;
    border: 0.15em solid transparent;
    line-height: 1;
    display: flex;
    padding: 0.3em;
    transition: all 50ms linear;
    --close-btn-color: #{color('gray-500')};
    --close-btn-hover-color: #{color('brand-light')};

    &.invert {
        --close-btn-color: #{color('white')};
        --close-btn-hover-color: #{color('white')};
    }

    & .icon {
        color: var(--close-btn-color);
    }

    &:hover {
        border-color: var(--close-btn-hover-color);

        & .icon {
            color: var(--close-btn-hover-color);
        }
    }
}