@mixin button {
    color: inherit;
    display: inline-block;
    font-weight: 400;
    border: solid 2px transparent;
    border-radius: 100px;
    padding: 0.25em 1em;
    cursor: pointer;
    transition: all 100ms linear;
}

.btn {
    @include button;

    color: color('white');
    background-color: color('brand');

    &:hover, &:active {
        color: color('white');
        background-color: color('brand-light');
        text-decoration: none;
    }

    &.btn-on-dark {
        &:hover, &:active {
            border: solid 2px color('white');
            background-color: transparent;
            text-decoration: none;
        }
    }
}

.btn-light {
    @include button;

    color: white;
    background-color: color('brand-light');

    &:hover, &:active {
        color: color('white');
        background-color: color('brand');
        text-decoration: none;
    }
}

.btn-outline {
    @include button;

    color: color('brand-light');
    background-color: color('white');
    border: solid 2px color('brand-light');

    &:hover, &:active {
        color: color('white');
        background-color: color('brand-light');
        text-decoration: none;
    }

    &.btn-on-dark {
        color: color('white');
        background-color: transparent;
        border-color: color('white');

        &:hover, &:active {
            background-color: color('brand-light');
            text-decoration: none;
        }
    }
}

.btn-outline-dark {
    @include button;

    border: 2px solid color('gray-500');

    &:hover, &:active {
        color: color('white');
        background-color: color('gray-900');
        border-color: color('gray-900');
    }
}

a {
    color: color('brand');

    &:hover, &:active, &:focus {
        text-decoration: underline;
    }
}

.link-light {
    color: color('white');

    &:hover, &:active, &:focus {
        color: color('white');
    }
}