@mixin button {
    color: inherit;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    border: solid 2px transparent;
    border-radius: 100px;
    padding: 0.25em 3em;
    cursor: pointer;
    transition: all 150ms linear;

    --btn-color: #{color('white')};
    --btn-bg-color: #{color('brand')};
    --btn-border-color: #{color('brand')};
    --btn-hover-color: #{color('white')};
    --btn-hover-bg-color: #{color('brand-light')};
    --btn-hover-border-color: #{color('brand-light')};

    color: var(--btn-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);

    &:focus {
        text-decoration: none;
        color: var(--btn-color)
    }
    &:visited {
        text-decoration: none;
    }
    &:hover, &:active {
        color: var(--btn-hover-color);
        background-color: var(--btn-hover-bg-color);
        border-color: var(--btn-hover-border-color);
        text-decoration: none;
    }
}

button {
    cursor: pointer;
}

a {
    color: color('brand');

    &:hover, &:active, &:focus {
        text-decoration: underline;
    }
}

.btn {
    @include button;


    &.dark {
        --btn-hover-border-color: #{color('white')};
        --btn-hover-bg-color: transparent;
    }

    &.uppercase {
        font-weight: 600;
    }

    &.disabled {
        --btn-bg-color: #{color('gray-700')};
        --btn-border-color: #{color('gray-700')};
        --btn-hover-bg-color: #{color('gray-600')};
        --btn-hover-border-color: #{color('gray-600')};
    }

    &.light {
        --btn-color: #{color('white')};
        --btn-bg-color: #{color('brand-light')};
        --btn-border-color: #{color('brand-light')};
        --btn-hover-color: #{color('white')};
        --btn-hover-bg-color: #{color('brand')};
        --btn-hover-border-color: #{color('brand')};
    }

    &.outline {
        --btn-color: #{color('brand-light')};
        --btn-bg-color: #{color('white')};
        --btn-border-color: #{color('brand-light')};
        --btn-hover-color: #{color('white')};
        --btn-hover-bg-color: #{color('brand-light')};
        --btn-hover-border-color: #{color('brand-light')};

        &.dark {
            --btn-color: #{color('white')};
            --btn-bg-color: transparent;
            --btn-border-color: #{color('white')};
            --btn-hover-bg-color: #{color('brand-light')};
            --btn-hover-border-color: #{color('white')};
        }
    }

    &.large {
        font-size: font-size(1);
    }
}

.link-light {
    color: color('white');

    &:hover, &:active, &:focus {
        color: color('white');
    }
}
