.d-flex {
    display: flex;
}

.grid-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.d-block {
    display: block;
}
.d-none {
    display: none;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-flex-end {
    justify-content: flex-end;
}

.align-items-stretch {
    align-items: stretch;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: flex-end;
}

.grow-0 {
    flex-grow: 0;
}

.grow-2 {
    flex-grow: 2;
}

.grow-3 {
    flex-grow: 3;
}

.grow-4 {
    flex-grow: 4;
}

.grow-1p5 {
    flex-grow: 1.5;
}

.hidden {
    display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.container-inline {
    container-type: inline-size;
}