.d-flex {
    display: flex;
}

.grid-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.d-block {
    display: block;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-flex-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.grow-2 {
    flex-grow: 2;
}

.grow-1p5 {
    flex-grow: 1.5;
}

.hidden {
    display: none;
}