.absolute-md,
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.sticky {
    position: sticky
}

.fixed,
.sticky,
.absolute {
    &.top {
        top: 0;
    }

    &.bottom {
        bottom: 0;
    }
    &.bottom-0 {
        bottom: spacing(0);
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}
.absolute.center {
    left: 50%;
    transform: translateX(-50%);
}
.absolute.middle {
    top: 50%;
    transform: translateY(-50%);
}
.absolute.middle.center {
    transform: translate(-50%, -50%);
}

.position-relative {
    position: relative;
}

.z-1 {
    z-index: 1;
}
.z-2 {
    z-index: 2;
}