.rounded {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.rounded-multi > :first-child {
    border-start-start-radius: var(--border-radius);
    border-end-start-radius: var(--border-radius);
}

.rounded-multi > :last-child {
    border-start-end-radius: var(--border-radius);
    border-end-end-radius: var(--border-radius);
}

.rounded-top {
    border-start-start-radius: var(--border-radius);
    border-start-end-radius: var(--border-radius);
}

.rounded-bottom {
    border-end-start-radius: var(--border-radius);
    border-end-end-radius: var(--border-radius);
}

.rounded-start {
    border-start-start-radius: var(--border-radius);
    border-end-start-radius: var(--border-radius);
}

.rounded-end {
    border-start-end-radius: var(--border-radius);
    border-end-end-radius: var(--border-radius);
}
.circle {
    border-radius: 100%;
}
.circle-end,
.circle-end-small {
    border-start-end-radius: 1000px;
    border-end-end-radius: 1000px;
}
@media (max-width: $break-sm) {
    .circle-end-small {
        border-start-end-radius: 100px;
        border-end-end-radius: 100px;
    }
}

.clip-rounded-end {
    clip-path: url(#clip-rounded-end);

    [dir="rtl"] & {
        clip-path: url(#clip-rounded-start);
    }
}

.clip-rounded-bottom-right {
    clip-path: url(#clip-rounded-bottom-right);
}

.clip-rounded-top-left {
    clip-path: url(#clip-rounded-top-left);
}

.hard-shadow {
    box-shadow: var(--z-box-shadow-hard);
}

.shadow {
    box-shadow: color('shadow') 0px 5px 10px 0px ;
}

.border-none {
    border: none;
}

.border-1 {
    border-width: 1px;
    border-style: solid;
    border-color: color(gray-900);
}

.border-circle {
    border-width: 1px;
    border-style: solid;
    border-color: color(gray-900);
    border-radius: 100%;

    &[data-border-color="success"] {
        border-color: color('success');
    }
    &[data-border-width="7"] {
        border-width: 7px;
    }
}

.aspect-1 {
    aspect-ratio: 1;
}


[dir="rtl"] .flip-on-rtl {
    transform: scaleX(-1);
}

@media (max-width: $break-lg) {
    .rounded-start-on-medium {
        border-start-start-radius: var(--border-radius);
        border-end-start-radius: var(--border-radius);
    }
}
