.rounded {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.rounded-multi > :first-child {
    border-start-start-radius: var(--border-radius);
    border-end-start-radius: var(--border-radius);
}

.rounded-multi > :last-child {
    border-start-end-radius: var(--border-radius);
    border-end-end-radius: var(--border-radius);
}

.rounded-top {
    border-start-start-radius: var(--border-radius);
    border-start-end-radius: var(--border-radius);
}

.rounded-bottom {
    border-end-start-radius: var(--border-radius);
    border-end-end-radius: var(--border-radius);
}

.rounded-start {
    border-start-start-radius: var(--border-radius);
    border-end-start-radius: var(--border-radius);
}

.rounded-end {
    border-start-end-radius: var(--border-radius);
    border-end-end-radius: var(--border-radius);
}

.clip-rounded-end {
    clip-path: url(#clip-rounded-end);
}

.clip-rounded-bottom-right {
    clip-path: url(#clip-rounded-bottom-right);
}

.clip-rounded-top-left {
    clip-path: url(#clip-rounded-top-left);
}

.hard-shadow {
    box-shadow: var(--z-box-shadow-hard);
}

.shadow {
    box-shadow: color('shadow') 0px 5px 10px 0px ;
}

.border-none {
    border: none;
}

.border-1 {
    border-width: 1px;
    border-style: solid;
    border-color: color(gray-900);
}

@media (max-width: $break-lg) {
    .rounded-start-on-medium {
        border-start-start-radius: var(--border-radius);
        border-end-start-radius: var(--border-radius);
    }
}
