$widths: (100, 90, 80, 75, 70, 60, 50, 40, 30, 25, 20, 15, 10);

@each $width in $widths {
    .w-#{$width} {
        width: $width * 1%;
    }
}

.mw-50ch {
    max-width: 50ch;
}

.mw-100 {
    max-width: 100%;
}
.mw-60 {
    max-width: 60%;
}
.mw-20 {
    max-width: 20%;
}
.min-4rem {
    min-width: 4rem;
}
.min-8rem {
    min-width: 8rem;
}
.min-12rem {
    min-width: 12rem;
}
.mw-20vw {
    max-width: 20vw;
}
.mw-30vw {
    max-width: 30vw;
}
.mw-20rem {
    max-width: 20rem;
}

@for $i from -5 through 5 {
    .h-#{$i} {
        height: spacing($i);
    }
}
.h-100 {
    height: 100%;
}
.h-125 {
    height: 125%;
}

.min-vh-90 {
    min-height: 90vh;
}

.fit-content {
    width: fit-content;
}

$rem-sizes: ( 1, 2, 3, 4, 5, 6, 7, 8, 16 );

@each $size in $rem-sizes {
    .w-#{$size}rem {
        width: $size * 1rem;
    }
    .h-#{$size}rem {
        height: $size * 1rem;
    }
}