@for $i from -5 through 5 {
    .gap-#{$i} {
        gap: spacing($i);
        grid-gap: spacing($i);
    }
    .gapx-#{$i} {
        column-gap: spacing($i);
        grid-column-gap: spacing($i);
    }
    .gapy-#{$i} {
        row-gap: spacing($i);
        grid-row-gap: spacing($i);
    }
}

.gap0 {
    gap: 0 !important;
}
.gapy0  {
    row-gap: 0 !important;
}

@for $i from -5 through 5 {
    .p-#{$i} {
        padding: spacing($i);
    }
    .px-#{$i} {
        padding-left: spacing($i);
        padding-right: spacing($i);
    }
    .py-#{$i} {
        padding-top: spacing($i);
        padding-bottom: spacing($i);
    }
    .pt-#{$i} {
        padding-top: spacing($i);
    }
}
.pt-4 {
    padding-top: spacing(4);
}
.ps-2 {
    padding-left: spacing(2);

    [dir="rtl"] & {
        padding-left: unset;
        padding-right: spacing(2);
    }
}

.p0 {
    padding: 0 !important;
}
.pt0{
    padding-top: 0 !important;
}

@for $i from -5 through 5 {
    .m-#{$i} {
        margin: spacing($i);
    }
    .mx-#{$i} {
        margin-left: spacing($i);
        margin-right: spacing($i);
    }
    .my-#{$i} {
        margin-top: spacing($i);
        margin-bottom: spacing($i);
    }
    .mt-#{$i} {
        margin-top: spacing($i);
    }
    .mb-#{$i} {
        margin-bottom: spacing($i);
    }
}
.m0 {
    margin: 0 !important;
}
.mt0 {
    margin-top: 0;
}
.mb0 {
    margin-bottom: 0;
}

.mx-auto {
    margin-left: auto;
  margin-right: auto;
}
.ms-auto {
    margin-left: auto;

    [dir="rtl"] & {
        margin-left: unset;
        margin-right: auto;
    }
}
.mt-auto {
    margin-top: auto
}

@for $i from -5 through 5 {
    .s-#{$i} {
        --space: #{spacing($i)};
    }
}

.s0 {
    --space: 0;
}

@for $i from -5 through 5 {
    .gutter-#{$i} {
        --gutter: #{spacing($i)};
    }
}

.gutter0 {
    --gutter: 0;
}
