$gap-sizes: (3, 4);

@each $i in $gap-sizes {
    .gap-#{$i} {
        gap: spacing($i);
    }
}

$padding-sizes: (-1, 0, 1, 2);

@each $i in $padding-sizes {
    .p-#{$i} {
        padding: spacing($i);
    }
    .px-#{$i} {
        padding-inline: spacing($i);
    }
    .py-#{$i} {
        padding-block: spacing($i);
    }
}

.p0 {
    padding: 0 !important;
}