@for $i from -5 through 5 {
    .gap-#{$i} {
        gap: spacing($i);
        grid-gap: spacing($i);
    }
    .gapx-#{$i} {
        column-gap: spacing($i);
        grid-column-gap: spacing($i);
    }
    .gapy-#{$i} {
        row-gap: spacing($i);
        grid-row-gap: spacing($i);
    }
}

.gap0 {
    gap: 0;
}

@for $i from -5 through 5 {
    .p-#{$i} {
        padding: spacing($i);
    }
    .px-#{$i} {
        padding-inline: spacing($i);
    }
    .py-#{$i} {
        padding-block: spacing($i);
    }
}

.p0 {
    padding: 0 !important;
}
.pt0{
    padding-block-start: 0 !important;
}

@for $i from -5 through 5 {
    .m-#{$i} {
        margin: spacing($i);
    }
    .mx-#{$i} {
        margin-inline: spacing($i);
    }
    .my-#{$i} {
        margin-block: spacing($i);
    }
}
.m0 {
    margin: 0 !important;
}

.mx-auto {
    margin-inline: auto;
}
.ms-auto {
    margin-inline-start: auto;
}

@for $i from -5 through 5 {
    .s-#{$i} {
        --space: #{spacing($i)};
    }
}

.s0 {
    --space: 0;
}