$gap-sizes: (3, 4);

@each $i in $gap-sizes {
    .gap-#{$i} {
        gap: spacing($i);
    }
}

$padding-sizes: (-1, 0, 1, 2);

@each $i in $padding-sizes {
    .p-#{$i} {
        padding: spacing($i);
    }
    .px-#{$i} {
        padding-inline: spacing($i);
    }
    .py-#{$i} {
        padding-block: spacing($i);
    }
}

.p0 {
    padding: 0 !important;
}

$spacing-sizes: (-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5);

@each $i in $spacing-sizes {
    .s#{$i} {
        --space: #{spacing($i)};
    }
}
