// example styles.scss
@use 'base';

:root {
  font-family: base.$font-stack;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    color: base.$primary-color;
    background-color: #ffffff;
  }
}
