.activity.content {
    font-size: font-size(1);

    [class^="container"] {
        max-width: 60ch;
    }

    h1, h2, h3 {
        color: color('brand-light');
        margin-bottom: spacing(-1);
        font-weight: 600;
    }

    h1 {
        font-size: font-size(3);
    }

    h2, h3 {
        font-size: font-size(2)
    }

    p {
        margin-bottom: spacing(2);
    }

    ul, ol {
        margin-bottom: spacing(2);
    }

    ol > * + * {
        margin-top: spacing(0);
    }

    strong {
        color: color('brand-light');
        font-weight: 600;
    }

    textarea, input {
        font-size: 0.9em;
    }

    .activity-title {
        margin-top: spacing(1);
        margin-bottom: spacing(1);
        text-align: center;
    }

    .button {
        @include button;

        text-transform: uppercase;
        line-height: 1.5;
        font-weight: 500;
    }

    .writing-line {
        width:100%;
        height:3em;
        border-bottom:1px solid color('gray-600');
    }
}
.activity-content {
    img {
        margin-bottom: spacing(2);
    }
}
.activity-header {
    background-color: color('brand');
    color: color('white');
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    display: flex;
    align-items: center;

    .logo {
        width: 60px;
        height: unset;
    }

    .title {
        font-size: font-size(2);
        font-weight: 600;
        text-align: center;
    }
}