.card {
    border-radius: var(--border-radius);
    box-shadow: var(--z-shadow) 2px 2px 3px 0px;
    padding: spacing(0) spacing(1);
    text-align: center;

    &.cta {
        border: 2px solid color('brand-light');
    }

    .btn {
        padding-inline: spacing(0);
        width: 100%;
    }

    &.share {
        background-color: color('gray-200');
        box-shadow: none;
        text-align: start;
    }
}