.dashboard {
    --bg-color-main: #{color('white')};
    --border-color-main: #{color('gray-100')};
    display: grid;
    grid-template-areas:"sidebar content";
    grid-template-columns: minmax(auto, 20rem) 1fr;
    min-height: 100vh;
}

.dashboard__sidebar {
    grid-area: sidebar;
    background-color: color('white');
    border-inline-end: 2px solid var(--border-color-main);
    padding: spacing(0);
}

.dashboard__content {
    grid-area: content;
    display: grid;
    grid-template-areas: "header header"
                         "main secondary";
    grid-template-columns: 1fr minmax(auto, 16rem);
    grid-template-rows: auto 1fr;
    height: 100%;
}

.dashboard__header {
    grid-area: header;
    background-color: var(--bg-color-main);
    border-block-end: 2px solid var(--border-color-main);
    padding: spacing(0) spacing(2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-bottom: 0;
    }
}

.dashboard__main {
    grid-area: main;
    background-color: var(--bg-color-main);
}
.dashboard__main:last-child {
    grid-row: 2;
    grid-column: 1 / 3;
}

.dashboard__secondary {
    grid-area: secondary;
    background-color: var(--bg-color-main);
    padding: spacing(0);
}
