#wizard-modal {
    padding: 0;
}

.dashboard {
    --bg-color-main: #{color('white')};
    --border-color-main: #{color('gray-100')};
    display: grid;
    grid-template-areas:"sidebar content";
    grid-template-columns: minmax(auto, 20rem) 1fr;
    min-height: 100vh;
}

.dashboard__sidebar {
    grid-area: sidebar;
    border-inline-end: 2px solid var(--border-color-main);

    .footer-links {
        margin-top: spacing(0);

        a {
            padding: 0;
            font-size: font-size(-1);
            font-weight: 500;
        }
    }
}

.profile-area {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-block-end: spacing(1);
}
.profile-btn {
    border-radius: 100px;
    background-color: color('brand');
    color: color('white');
    aspect-ratio: 1;
    font-size: font-size(2);
    font-weight: bold;
    line-height: 1;
    width: fit-content;
    margin-inline: auto;
    padding: var(--s-1);
}
.profile-name {
    margin-block-start: var(--s-3);
    font-size: font-size(-2);
    text-align: center;
}

dash-sidebar-toggle {
    order: 10;
}
.dashboard__sidebar-toggle {
    display: none;
}

.sidebar-wrapper {
    position: sticky;
    overflow-y: auto;
    padding-inline-end: 4px;
    padding-block-end: 4px;
    background-color: color('white');
    padding: spacing(0);
}

.dashboard__content {
    grid-area: content;
    display: grid;
    grid-template-areas: "header-left header-right"
                         "main secondary";
    grid-template-columns: 1fr minmax(auto, 16rem);
    grid-template-rows: auto 1fr;

    &[data-no-secondary-area] {
        grid-template-areas: "header-left header-right"
                             "main main";
    }
}

.dashboard__header {
    background-color: var(--bg-color-main);
    border-block-end: 2px solid var(--border-color-main);
    padding: spacing(0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    height: 100%;

    h1 {
        margin-bottom: 0;
    }
}
.dashboard__header.left {
    grid-area: header-left;
}
.dashboard__header.right {
    grid-area: header-right;
    justify-content: flex-end;
}
.dashboard__header.left,
dash-header-right {
    position: sticky;
    z-index: 10;
}

.dashboard__main {
    grid-area: main;
    background-color: var(--bg-color-main);
}

.dash-menu__list-item[role="button"] {
    --list-item-hover-bg-color: #{color('brand-light')};

    border-radius: var(--border-radius, 10px);
    padding: spacing(1);

    &:hover,
    &:active,
    &:focus {
        &:not([data-completed]) {
            background-color: var(--list-item-hover-bg-color);
            color: white;

            & .icon {
                color: white;
            }
        }
    }

    &[data-locked] {
        --list-item-hover-bg-color: #{color('gray-700')};
    }
}

.dashboard__main [data-completed] .dash-menu__list-icon,
.dashboard__main [data-locked] .dash-menu__list-icon {
    color: color('gray-500');
}

.dashboard__main [data-completed] {
    color: color('gray-500');
    font-style: italic;
}

.dash-menu__list-success {
    border: 3px solid color('success');
    border-radius: 100px;
    padding: spacing(-3);
    font-size: font-size(3);
    color: color('success');
}

.dashboard__secondary {
    grid-area: secondary;
    background-color: var(--bg-color-main);
    padding: spacing(0);
}

.dashboard__title {
    display: flex;
    align-items: center;
    gap: spacing(0);
    font-size: font-size(3);

    & .icon {
        color: color('brand-light');
    }

    & button[disabled] .icon {
        color: color('disabled');
    }

    & > * {
        display: flex;
        align-items: center;
        gap: var(--space, spacing(0));
    }

}

@media (max-width: $break-lg) {
    .dashboard {
        grid-template-areas:"content";
        grid-template-columns: 1fr;
    }

    .dashboard__sidebar {
        grid-area: unset;
        position: fixed;
        left: 0;
        top: 2.5rem;
        transform: translateX(-100%);
        transition: transform 200ms ease-in-out;
        bottom: 0;
        z-index: 100;

        & .sidebar-wrapper {
            height: 100% !important;
        }

        [dir="rtl"] & {
            left: unset;
            right: 0;
            transform: translateX(100%);
        }

        &[data-state="open"] {
            transform: none;
        }

    }

    .sidebar__trigger-close-background {
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        inset: 0px;
        transition: opacity 200ms ease-in-out;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
    }

    dash-sidebar-toggle {
        order: initial;
    }
    .dashboard__sidebar-toggle {
        &.break-large {
            display: flex;
        }
    }

}

@media (max-width: $break-md) {
    .dashboard__content {
        grid-template-areas: "header-right"
                            "header-left"
                            "main"
                            "secondary";
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        &[data-no-secondary-area] {
            grid-template-areas: "header-right"
                                "header-left"
                                "main";
        }
    }

    dash-sidebar-toggle:not([displayon="medium"]) {
        order: 10;
    }
    .dashboard__sidebar-toggle {
        &.break-large {
            display: none;
        }
        &.break-medium {
            display: flex;
        }
   }
    .dashboard__header {
        flex-wrap: wrap;
        padding: spacing(0);
    }
    .dashboard__header.right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dashboard__title {
        justify-content: space-between;
    }
}