.dashboard {
    --bg-color-main: #{color('gray-100')};
    --border-color-main: #{color('gray-200')};
    display: grid;
    grid-template-areas:"sidebar content";
    grid-template-columns: minmax(auto, 20rem) 1fr;
    min-height: 100vh;
}

.dashboard__sidebar {
    grid-area: sidebar;
    background-color: color('white');
    border-inline-end: 2px solid var(--border-color-main);
    padding: spacing(0);
}

.dashboard__content {
    grid-area: content;
}
