.dash-menu__list-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: spacing(1);
    align-items: center;
    justify-content: center;
}

.dash-menu__list-icon {
    color: color('brand-light');
    font-size: font-size(6);
}

.dash-menu__text-area {
    align-items: center;
    justify-content: space-between;
    gap: spacing(1);
}

.dash-menu__view-button {
    flex-grow: 0;
    flex-basis: content;
}
