.list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: spacing(0);
    border-bottom: 2px solid color('gray-100');
}

.list__secondary {
    display: flex;
    align-items: center;

    & > * {
        margin-inline: spacing(0);
    }

    & .icon {
        font-size: font-size(2);
    }
}