.list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    [dir="ltr"] & {
        border-right: 2px solid color('gray-100');
    }
    [dir="rtl"] & {
        border-left: 2px solid color('gray-100');
    }
}

.list__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: spacing(0) spacing(0);
    border-top: 2px solid color('gray-100');
    border-bottom: 2px solid color('gray-100');
    gap: spacing(0);

    @include gap-fallback(0);

    /* Prevent double width borders by pulling each list item up to overlap their borders */
    margin-top: -2px;

    &.tight {
        padding-top: spacing(-2);
        padding-bottom: spacing(-2);
    }

    & .btn {
        padding-top: spacing(-2);
        padding-bottom: spacing(-2);
        line-height: 1;
    }

    &[data-no-flex] {
        display: block;
    }

    &[data-depth]:not([data-depth="0"]) {
        --child-margin: #{spacing(1)};

        [dir="ltr"] & {
            border-left: 2px solid color('gray-100');
            margin-left: calc( var(--depth, 0) * var(--child-margin) );
        }
        [dir="rtl"] & {
            border-right: 2px solid color('gray-100');
            margin-right: calc( var(--depth, 0) * var(--child-margin) );
        }

        &::before {
            --pipe-width: 5px;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            width: calc( 0.5 * var(--child-margin) + var(--pipe-width, 5px) );
            height: 120%;
            transform: translate(-100%, -50%) translateZ(-10px);
            border-left: var(--pipe-width, 5px) solid color('brand-light');
            border-bottom: var(--pipe-width, 5px) solid color('brand-light');

            [dir="ltr"] & {
                border-bottom-left-radius: 10px;
            }
            [dir="rtl"] & {
                border-bottom-right-radius: 10px;
            }
        }
    }
}

.list__primary {
    display: flex;
    align-items: center;
    gap: spacing(0);

    @include gap-fallback(0);

    & .icon {
        font-size: font-size(2);
    }

    &[data-large-gap] {
        gap: spacing(4);
    }
}

.list__secondary {
    display: flex;
    align-items: center;
    gap: spacing(0);

    @include gap-fallback(0);

    & > :first-child {
        [dir="ltr"] & {
            margin-left: auto;
        }
        [dir="rtl"] & {
            margin-right: auto;
        }
    }

    & .icon {
        font-size: font-size(2);
    }
}
.list__secondary[data-align-start] {
    align-items: flex-start;
}