#hamburger-menu {
    border-radius: 100px;
    background-color: color('white');
    padding: 0.3em;
    height: 2.5rem;

    .hamburger, .hamburger::after, .hamburger::before {
        background-color: color('brand');
    }

    &.invert {
        background-color: unset;

        & .hamburger, & .hamburger::after, & .hamburger::before {
            background-color: color('white');
        }
    }
}
.course-slideshow{

    & .visual-indicator {
        width: 8.125%;
        background-color: color('gray-700');
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        transition: opacity 50ms linear;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }

        &.show {
            opacity: 0.2;
        }
        &.off {
            opacity: 0 !important;
        }

        &:hover {
            opacity: 0.4;
        }
    }
}

.slides-card {
    --slide-unit: 1vw;
    --font-size-ratio: 2;
    --font-size: calc( var(--slide-unit) * var(--font-size-ratio) );
    --z-brand-lighter: #5dccff;

    --spacing-ratio: 1.5;
    --s-5: calc( var(--s-4) / var(--spacing-ratio) );
    --s-4: calc( var(--s-3) / var(--spacing-ratio) );
    --s-3: calc( var(--s-2) / var(--spacing-ratio) );
    --s-2: calc( var(--s-1) / var(--spacing-ratio) );
    --s-1: calc( var(--s0) / var(--spacing-ratio) );
    --s0: calc( var(--slide-unit) * 2 );
    --s1: calc( var(--s0) * var(--spacing-ratio) );
    --s2: calc( var(--s1) * var(--spacing-ratio) );
    --s3: calc( var(--s2) * var(--spacing-ratio) );
    --s4: calc( var(--s3) * var(--spacing-ratio) );
    --s5: calc( var(--s4) * var(--spacing-ratio) );

    /* Globals */
    font-size: var(--font-size);
    line-height: 1.5;

    height: var(--slide-height);
    max-height: 100vh;
    width: var(--slide-width);
    margin-left: auto;
    margin-right: auto;

    background-color: color(white);

    img {
        width: 100%;
    }
    h2 {
        font-size: calc( var(--slide-unit) * 3 );
        font-weight: 500;
        color: color('brand-dark');
    }
    p {
        margin-bottom: unset;
    }
    strong {
        font-weight: 600;
    }
    ul.bullets {
        margin-left: spacing(2);

        [dir="rtl"] & {
            margin-left: unset;
            margin-right: spacing(2);
        }
    }

    /* Composition */
    & > :nth-child(2) {
        height: calc( var(--slide-height, 100%) - calc( 3.5 * var(--slide-unit) ) );
        min-height: calc( var(--slide-height, 100%) - calc( 3.5 * var(--slide-unit) ) );
        position: relative;
    }

    .stack {
        --space: var(--s-2);
    }
    .cover-slide {
        display: flex;
        flex-direction: column;
    }
    .cover-page {
        min-height: var(--slide-height, 100%);
    }

    /* Blocks */
    .title-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        text-align: end;

        & > div:nth-child(2) {
            align-items: flex-end;
        }
    }
    .title-icon {
        font-size: calc( var( --slide-unit ) * 6 );
        display: flex;
        align-items: center;
        color: color('brand-light');
    }
    .title {
        font-weight: 700;
        text-transform: uppercase;
        color: color('brand-dark');

        &[data-small] {
            font-size: var(--font-size);
        }
    }
    .subtitle {
        font-weight: 600;
    }
    .content-area {
        display: flex;
        align-items: center;
    }

    .qr-code {
        width: calc( var(--slide-unit) * 12 );
    }

    .activity-card {
        padding: calc( var(--slide-unit) * 2 );
        background-color: #e7f6fc;
        border-radius: calc( var(--slide-unit) * 2 );
        border: calc( var(--slide-unit) * 0.3 ) solid color('brand-lighter');
        box-shadow: 0px calc( var(--slide-unit) * 0.3 ) calc( var(--slide-unit) * 0.2 ) 0px #0c1a2130;

        &[data-expanded-padding] {
            padding-top: calc( var(--slide-unit) * 4 );
            padding-bottom: calc( var(--slide-unit) * 4 );
        }

        &[data-large] {
            font-weight: 600;
            font-size: calc( var(--slide-unit) * 3 );
        }
    }

    .obey-slide {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        position: relative;

        & > .two-column {
            position: static;
            min-height: auto;
            flex-grow: 0;

            & > *::after {
                content: none;
            }
            &:first-child > :first-child::after {
                content: "";
                top: 15%;
                bottom: 15%;
                height: auto;
            }
        }
    }
}

.video-slide {
    --slide-unit: calc( 1 * var(--slide-unit) );
    aspect-ratio: 16 / 9;
    border-radius: calc( var(--slide-unit) );
    overflow: hidden;
    background-color: #2DADE2;
    max-height: 100vh;
    margin-left: auto;
  margin-right: auto;
    position: relative;
    max-width: calc( 100% - 2 * 8.125% );

    & > iframe {
        width: 100%;
        height: 100%;
    }
}
.course-guide .snap-content {
    scroll-snap-type: block mandatory;
    max-height: 100vh;
    overflow-y: auto;
}
.slide-switcher {
    scroll-snap-align: center;
}
[data-outline-slides] .slides-card,
.slide-outline {
    border: 1px solid #ccc;
    border-radius: calc( var(--slide-unit, 1vw) );
    overflow: hidden;
}

/* On e.g. an activity page we want the relative size of the divider to be the height of the cover section
not of the 2 column section */
.cover-slide .two-column {
    position: static;
}

/* The divider is contained in the ::after pseudoelement of the first column (:first-child) */
.two-column {
    --gap-width: calc( 8 * var(--slide-unit) );
    padding-left: calc( var(--gap-width) / 2 );
    padding-right: calc( var(--gap-width) / 2 );
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: var(--gap-width);
    position: relative;
    flex-grow: 2;

    /* We can't specify flex-box gap property, so using inset as a close approximation of compatibility versions */
    /* see https://caniuse.com/?search=gap and https://caniuse.com/?search=inset */
    @supports not (inset: 1rem) {
        & > :first-child {
            margin-inline-end: var(--gap-width);
        }
    }

    & > * {
        display: flex;
        align-items: center;
    }
    &[data-align-start] > * {
        align-items: stretch;
    }
    & > :first-child {
        justify-content: flex-end;
    }

    & > :first-child::after {
        content: "";
        position: absolute;
        height: 70%;
        width: calc( var(--slide-unit) * 0.5 );
        background-color: color('brand-lighter');
        border-radius: calc( var(--slide-unit) * 3 );

        transform: translateX( calc( var(--gap-width) / 2 + 50% ) );
    }
    [dir="rtl"] & > :first-child::after {
        transform: translateX( calc( -1 * var(--gap-width) / 2 ) );
    }
    &[data-align-start] > :first-child::after {
        height: auto;
        top: 15%;
        bottom: 15%;
    }

    &.left > :first-child {
        width: calc( 1 / 3 * 100% - var( --gap-width ) / 2 );
    }
    &.left > :nth-child(2) {
        width: calc( 2 / 3 * 100% - var( --gap-width ) / 2 );
    }

    &.right > :first-child {
        width: calc( 3 / 4 * 100% - var( --gap-width ) / 2 );
    }
    &.right > :nth-child(2) {
        width: calc( 1 / 4 * 100% - var( --gap-width ) / 2 );
    }

    &.middle > :first-child {
        width: calc( 1 / 2 * 100% - var( --gap-width ) / 2 );
    }
    &.middle > :nth-child(2) {
        width: calc( 1 / 2 * 100% - var( --gap-width ) / 2 );
    }
}

.stage {
    height: calc( 3 * var(--slide-unit) );
    padding-top: calc( 1 * var(--slide-unit) );
    text-align: center;
    background-color: white !important;
    margin-bottom: calc( 0.5 * var(--slide-unit) );

    .course-slideshow[data-index="0"] & {
        display: none;
    }
}
.progress-bar-wrapper {
    width: fit-content;
    height: calc( 2 * var(--slide-unit) );
    margin: 0 auto;

    display: flex;
    align-items: center;

    & > .progress-bar-stage:first-child > :first-child {
        border-top-left-radius: calc( 3 * var(--slide-unit) );
        border-bottom-left-radius: calc( 3 * var(--slide-unit) );

        [dir="rtl"] & {
            border-top-left-radius: unset;
            border-bottom-left-radius: unset;
            border-top-right-radius: calc( 3 * var(--slide-unit) );
            border-bottom-right-radius: calc( 3 * var(--slide-unit) );
        }
    }
    & > .progress-bar-stage:last-child > :last-child {
        border-top-right-radius: calc( 3 * var(--slide-unit) );
        border-bottom-right-radius: calc( 3 * var(--slide-unit) );

        [dir="rtl"] & {
            border-top-right-radius: unset;
            border-bottom-right-radius: unset;
            border-top-left-radius: calc( 3 * var(--slide-unit) );
            border-bottom-left-radius: calc( 3 * var(--slide-unit) );
        }
    }
}
.progress-bar-stage {
    display: flex;
    align-items: center;

    & > * {
        border-right: calc( 0.1 * var(--slide-unit) )solid color('gray-300');
        border-top: calc( 0.1 * var(--slide-unit) )solid color('gray-300');
        border-bottom: calc( 0.1 * var(--slide-unit) )solid color('gray-300');

        [dir="rtl"] & {
            border-right: unset;
            border-left: calc( 0.1 * var(--slide-unit) )solid color('gray-300');
        }
    }
    & > :first-child {
        border-left: calc( 0.1 * var(--slide-unit) )solid color('gray-300');

        [dir="rtl"] & {
            border-right: calc( 0.1 * var(--slide-unit) )solid color('gray-300');
        }
    }
}
.progress-bar-item {
    width: calc( 1.5 * var(--slide-unit) );
    height: calc( 1.5 * var(--slide-unit) );
    background: white;
    float:left;

    &.active {
        background-color: color('brand-lighter');
    }
}
.progress-bar-divider {
    width: calc( 1.5 * var(--slide-unit) );
    height: calc( 1.5 * var(--slide-unit) );
    float:left;

    display: flex;
    align-items: center;

    &::after {
        content: '';
        height: calc( 0.1 * var(--slide-unit) );
        width: 100%;
        display: block;
        background-color: color('gray-300');
    }
}
.presenter-menu {
    width: min( 100vw, 500px );
}
.information-flyout,
.activity-flyout {
    width: min( 100vw, 800px );
    height: unset;

    iframe {
        height: 100vh;
    }
}
.session-link {
    color: color('black');
    font-weight: 500;
    text-align: left;

    &[data-subitem] {
        font-weight: normal;
    }
}
.menu .is-active>a {
    background-color: unset;
    color: inherit;
}
.submenu-toggle::after {
    content: url('/wp-content/plugins/zume-training-system/site/assets/images/chevron.svg');
    border: unset;
    width: 1em;
    height: 1em;
    transition: transform 200ms linear, filter 200ms linear;
    filter: brightness(0%) opacity(30%);
}
.submenu-toggle[aria-expanded=true]::after {
    transform: rotate(180deg) translateY(-25%);
    filter: brightness(100%) opacity(100%);
}
