// with thanks for help from https://codepen.io/KrzysiekF/pen/bGdRaLr?editors=1100
.progress-circle {
    display: flex;
    align-items: center;

    .svg-wrapper {
        width: var(--width, 210px);
        height: var(--width, 210px);

        circle {
            width: 100%;
            height: 100%;
            fill: none;
            stroke: color('gray-200');
            stroke-width: var(--stroke-width, 10);
            stroke-linecap: butt;
        }

        circle.border {
            stroke: none;
        }

        circle.bar {
            stroke-dasharray: var(--circ, 625px);
            stroke-dashoffset: calc(var(--circ, 625px) - (var(--circ, 625px) * var(--percent)) / 100);
            stroke: color('brand-light');
        }
    }

    svg.icon {
        fill: color('brand-light');
        transform: rotate(90deg);
    }

    &[data-border] {
        svg circle.border {
            stroke: color('gray-400');
            stroke-width: calc( var(--stroke-width, 10) + var(--border-width, 3) * 2 );
        }
    }
}
