.progress-menu {
    a {
        color: inherit;
        padding: 0;
    }

    .menu-section {
        position: relative;
        display: grid;
        grid-template-columns: 4fr 3rem;
        align-items: center;

        background: color('gray-50');
        border-radius: 10px;
        box-shadow: var(--z-box-shadow-medium);
        padding: spacing(-1);

        transition: background 100ms linear;

        &:first-child .submenu-toggle{
            display: none;
        }

        & > * + * {
            justify-self: flex-end;
        }

        &[data-active] {
            background: color('white');

            .menu-section__title .icon {
                color: color('brand-light');
            }
        }
    }
    .menu-section:nth-child(2):before,
    .menu-section:nth-child(3):before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        content: '';
        width: 10px;
        height: spacing(2);
        background-image: radial-gradient(circle at 2.5px, color('brand-light') 1px, rgba(255,255,255,0) 2.5px);
        background-position: top, right, bottom, left;
        background-size: 10px 10px;
        background-repeat: repeat;
    }

    .menu-section__title {
        font-weight: 600;
        display: flex;
        align-items: center;

        .icon {
            font-size: 1.3em;
            color: color('gray-400');
        }
    }

    .nested {
        font-size: font-size(-1);
        grid-column: 1/3;
        width: 100%;

        [dir="ltr"] & {
            padding-left: 2rem;
            margin-left: 0;
        }
        [dir="rtl"] & {
            padding-right: 2rem;
            margin-right: 0;
        }

        li {
            display: grid;
            grid-template-columns: auto 2rem;
            align-items: center;
        }

        &.is-accordion-submenu {
            margin-right: 0;
            margin-left: 0;
            margin-top: spacing(-1);

            a {
                padding: 0;
                font-size: font-size(-1);
                font-weight: 500;
            }
        }
    }
    nav-link + .icon {
        opacity: 0;
        justify-self: center;
    }
    nav-link[completed] + .icon {
        opacity: 1;
    }
    nav-link[locked] + .icon {
        opacity: 1;
    }

    .training-groups__toggle {
        transition: transform 120ms linear;
    }
}
#training-menu [aria-expanded="true"] .training-groups__toggle {
    transform: rotate(180deg);
}