.story-reel {
    position: absolute;
    bottom: 0;
    left: 40%;
    right: 0;
    margin-bottom: spacing(0);
    padding-bottom: spacing(0);

    [dir="rtl"] & {
        right: 40%;
        left: 0;
    }
}

.story-card {
    --card-logo-color: #{color('brand')};
    --card-text-color: #{color('black')};
    --card-bg-color: #{color('white')};
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--card-bg-color);

    width: 25em;
    padding: spacing(2) spacing(1);
    gap: spacing(1);

    @include gap-fallback(1);
}

.story-card__logo {
    width: 20%;
    color: var(--card-logo-color);
}
.story-card__text {
    width: 80%;
    color: var(--card-text-color);
}

.story-card.invert {
    --card-logo-color: #{color('white')};
    --card-text-color: #{color('white')};
    --card-bg-color: #{color('brand-light')};
}

@media (max-width: $break-md) {
    .real-stories {
        .absolute {
            position: static;
        }
    }

    .story-reel {
        margin-top: spacing(0);

        [dir="ltr"] & {
            margin-left: spacing(0);
        }
        [dir="rtl"] & {
            margin-right: spacing(0);
        }
    }

    .story-card {
        width: min(90%, 25em);
    }
}

@media (max-width: $break-sm) {
    .story-card__logo {
        display: none;
    }
}