.training-progress {
    display: flex;
    align-items: center;

    border: none;
    border-radius: 100px;
    overflow: hidden;

    & > button {
        background-color: color('gray-300');
        display: flex;
        align-items: center;
        line-height: 1;
        transition: background-color .1s linear;
        min-width: 0;

        &:hover,
        &:active,
        &:focus {
            background-color: color('gray-500')
        }
    }

    & .icon {
        margin: spacing(-3) spacing(0);
        color: color('gray-100');
        font-size: font-size('1');
        transition: color .1s linear;
        min-width: 0;
    }

    .active[data-subtype*="heard"] {
        background-color: #0084B6;
    }
    .active[data-subtype*="obey"] {
        background-color: #00AEEF;
    }
    .active[data-subtype*="share"] {
        background-color: #16C1F3;
    }
    .active[data-subtype*="train"] {
        background-color: #64D5F7;
    }

    .active .icon {
        color: color('white')
    }
}