.center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.bang-center {
  display: flex;
  align-items: center;
  justify-content: center;
}