.cover-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

.cover-page > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover-page > :first-child:not(div) {
  margin-top: 0;
}

.cover-page > :last-child:not(div) {
  margin-bottom: 0;
}

.cover-page > div {
  margin-top: auto;
  margin-bottom: auto;
}

.cover-img,
.cover {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
}

.cover-img > :first-child:not(img),
.cover > :first-child:not(div) {
  margin-top: 0;
}

.cover-img > :last-child:not(img),
.cover > :last-child:not(div) {
  margin-bottom: 0;
}

.cover-img > img,
.cover > div {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: var(--space, 1rem);
  padding-bottom: var(--space, 1rem);
}
