.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * {
    margin-block: 0;
}

.stack > * + * {
    margin-block-start: var(--space, spacing(0));
}

$stack-sizes: (-5, -4, -3, -2, -1, 1, 2, 3, 4, 5);

@each $i in $stack-sizes {
  .stack-#{$i} {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .stack-#{$i} > * {
    margin-block: 0;
  }

  .stack-#{$i} > * + * {
    margin-block-start: var(--space, spacing($i));
  }
}
