.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: spacing(1);
}

.switcher[data-reverse] {
  flex-wrap: wrap-reverse;
}

// *999 allows the basis to be very +ve or very -ve depending on whether 100% width of a column is > or < the --switcher-max-width
// If the column sizes are less than this width then the basis will be very +ve, causing the flex elements to display as columns.
// otherwise if the column sizes are > than this width the flex-basis will be very -ve causing the columns to grow to max container size
// and causing all of the elements to go into a column
.switcher > * {
  flex-grow: 1;
  flex-basis: calc(( var(--switcher-max-width, 50.2rem) - 100%) * 999);
}

// https://alistapart.com/article/quantity-queries-for-css/
// When we have 5 or more elements in a switcher, turn off the switching by making flex-basis: 100%
// This prevents elements getting too squished on a line.
.switcher > :nth-last-child(n+ 5),
.switcher > :nth-last-child(n+ 5) ~ * {
  flex-basis: 100%;
}

.switcher-width-40 {
    --switcher-max-width: 40rem;
}

.switcher-width-30 {
    --switcher-max-width: 30rem;
}

.switcher-width-25 {
    --switcher-max-width: 25rem;
}

.switcher-width-20 {
    --switcher-max-width: 20rem;
}

.switcher-width-15 {
    --switcher-max-width: 15rem;
}

.switcher-width-10 {
  --switcher-max-width: 10rem;
}