$colors: (
    'white',
    'gray-700',
    'brand',
    'brand-light',
    'brand-lighter',
    'brand-fade',
    'black',
);

@each $color in $colors {
    .#{$color} {
        color: color($color);
    }
}

$bg-colors: (
    'gray-500',
    'gray-300',
    'gray-100',
    'white',
    'brand',
    'brand-light',
    'brand-lighter',
);

@each $color in $bg-colors {
    .bg-#{$color} {
        background-color: color($color);
    }
}

.bg-none {
    background: none;
}

.bg-brand-gradient {
    background: color( 'brand-gradient' );
}
