$colors: ( 'white', 'gray-700', 'brand', 'brand-light', 'black');

@each $color in $colors {
    .#{$color} {
        color: color($color);
    }
}

$bg-colors: ( 'gray-500', 'gray-300', 'gray-100', 'white', 'brand', 'brand-light');

@each $color in $bg-colors {
    .bg-#{$color} {
        background-color: color($color);
    }
}

.bg-brand-gradient {
    background: color( 'brand-gradient' );
}
