$colors: ( 'white', 'brand', 'brand-light');

@each $color in $colors {
    .#{$color} {
        color: color($color);
    }
}

$bg-colors: ('white', 'brand', 'brand-light');

@each $color in $bg-colors {
    .bg-#{$color} {
        background-color: color($color);
    }
}

.bg-brand-gradient {
    background: color( 'brand-gradient' );
}
