.svg-icon {
    stroke: color('white');
    fill: color('white');

    &:hover, &:focus {
        stroke: color('brand-lighter');
        fill: color('brand-lighter');
    }
}

.icon {
    width: 1em;
    height: 1em;

    &:hover, &:focus {
        svg {
            stroke: color('brand-lighter');
            fill: color('brand-lighter');
        }
    }
}