:root {

    // spacing
    --s-5: #{fluid-space(-5)};
    --s-4: #{fluid-space(-4)};
    --s-3: #{fluid-space(-3)};
    --s-2: #{fluid-space(-2)};
    --s-1: #{fluid-space(-1)};
    --s0: #{fluid-space(0)};
    --s1: #{fluid-space(1)};
    --s2: #{fluid-space(2)};
    --s3: #{fluid-space(3)};
    --s4: #{fluid-space(4)};
    --s5: #{fluid-space(5)};

    // font-sizes
    /* clamp value based on reducing font at 425px width */
    --t-2: #{fluid-type(-2)};
    --t-1: #{fluid-type(-1)};
    --t0: #{fluid-type(0)};
    --t1: #{fluid-type(1)};
    --t2: #{fluid-type(2)};
    --t3: #{fluid-type(3)};
    --t4: #{fluid-type(4)};
    --t5: #{fluid-type(5)};
    --t6: #{fluid-type(6)};
    --t7: #{fluid-type(7)};
    --t8: #{fluid-type(8)};

    --border-thin: 1px;
    --border-radius: 10px;

    // colors
    --z-black: #000;
    --z-brand-dark: #21336A;
    --z-brand: #008CC7;
    --z-brand-light: #2CACE2;
    --z-brand-lighter: #8ACDEA;
    --z-brand-fade: #E5F3F9;
    --z-gray-900: #2B2B2B;
    --z-gray-800: #505050;
    --z-gray-700: #767676;
    --z-gray-600: #9B9B9B;
    --z-gray-500: #C1C1C1;
    --z-gray-400: #CCCCCC;
    --z-gray-300: #D7D7D7;
    --z-gray-200: #E2E2E2;
    --z-gray-100: #EFEFEF;
    --z-success: #A6D282;
    --z-warning-main: #FFF080;
    --z-error-main: #ff3f3f;
    --z-white: #FFF;
    --z-brand-gradient: linear-gradient( var(--z-brand) 10%, #004664 );
    --z-shadow: rgba(0, 0, 0, 0.1);
    --z-box-shadow-soft: var(--z-shadow) 0px 5px 10px 0px;
    --z-box-shadow-hard: rgba(0,0,0,0.5) 0px 2px 5px 0px;
    --z-box-shadow-medium: var(--z-shadow) 1px 1px 3px 1px;


    --header-color-light: var(--z-black);
    --header-color-dark: var(--z-white);

    // fonts
    --font-title: 'Bebas Kai', sans-serif;
    --font-family: 'Poppins', sans-serif;
    --font-cursive: 'Indie Flower', cursive;
;
}

