:root {

    // spacing
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    // font-sizes
    --text-base-size: 1rem;
    --text-ratio: 1.3;
    --t-2: calc(var(--t-1) / var(--text-ratio));
    --t-1: calc(var(--t0) / var(--text-ratio));
    --t0: var(--text-base-size);
    --t1: calc(var(--t0) * var(--text-ratio));
    --t2: calc(var(--t1) * var(--text-ratio));
    --t3: calc(var(--t2) * var(--text-ratio));
    --t4: calc(var(--t3) * var(--text-ratio));
    --t5: calc(var(--t4) * var(--text-ratio));
    --t6: calc(var(--t5) * var(--text-ratio));

    --border-thin: 1px;
    --border-radius: 10px;

    // colors
    --z-black: #000;
    --z-brand-dark: #21336A;
    --z-brand: #008CC7;
    --z-brand-light: #2CACE2;
    --z-brand-lighter: #8ACDEA;
    --z-gray-900: #2B2B2B;
    --z-gray-800: #505050;
    --z-gray-700: #767676;
    --z-gray-600: #9B9B9B;
    --z-gray-500: #C1C1C1;
    --z-gray-400: #CCCCCC;
    --z-gray-300: #D7D7D7;
    --z-gray-200: #E2E2E2;
    --z-gray-100: #EFEFEF;
    --z-warning-main: #FFF080;
    --z-white: #FFF;
    --z-brand-gradient: linear-gradient( var(--z-brand) 10%, #004664 );
    --z-shadow: rgba(0, 0, 0, 0.1);

    --header-color-light: var(--z-black);
    --header-color-dark: var(--z-white);

    // fonts
    --font-family: 'Poppins', sans-serif;
    --font-cursive: 'Indie Flower', cursive;
;
}

