@import 'reset';
@import 'root-variables';
@import 'breakpoints';
@import 'colors';
@import 'fonts';

@import 'composition';
@import 'utilities/buttons';
@import 'icons';
@import 'utilities/spacing';
@import 'utilities/position';
@import 'utilities/display';

:root {
  font-family: $font-text;

  color-scheme: light dark;
  color: $secondary-dark;
  background-color: $white;
}

html {
    font-size: 18px;
}

body {
    font-size: 1rem;
    font-family: $font-text;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
  margin-top: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
}

ul {
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 80%;
  max-width: $max-width;
}

header {
  background-color: $brand-primary;
  color: $white;
  padding: 0.4em 2em;
  text-align: center;
  font-size: 14px;
}

.nav {
  display: none;
  font-weight: 600;
  font-family: $font-text;
}

.nav--visible {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 3rem;
  z-index: 10;
  background-color: white;
  border: 1px solid black;
  border-top: none;
}

.nav__list {
  padding: 0;
}

.nav__link--button {
  @include button;

  padding: 1em 1em;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__icon {
  display: inline-block;
  width: 30px;
  line-height: 1;
}

.nav-toggle {
  cursor: pointer;
  width: 3em;
  height: 2em;
  border: 1px;
  border-radius: 5px;
  color: #2E323F;

  top: -15px;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: #2E323F;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.logo {
  display: flex;
  width: 150px;
  height: 30px;
  margin: 0 auto;
}

@media (min-width: $break-lg) {

    .row {
        display: flex;
        justify-content: space-between;
    }

    .align-items {
        align-items: center;
    }

    .nav-toggle {
        display: none;
    }

    .nav {
        display: flex;
    }

    .nav__list {
        margin: 0;
    }

    .nav__item {
        float: left;
        margin-left: 1em;
    }

    .nav__link--button {
        display: inline;
    }

}

.loading-spinner {
  display: none;
}

.footer {
  color: $white;
  background-color: $brand-primary;
  font-size: 0.75rem;
  padding: var(--s2) 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner.active {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: .25rem solid #919191;
    border-top-color: black;
    animation: spin 1s infinite linear;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
