@use 'sass:color';

@import '../../fonts/ZumeIconsSquare/style.css';

@import 'reset';
@import 'variables';
@import 'functions';
@import 'compatibility';
@import 'root-variables';
@import 'colors';
@import 'icons';
@import 'typography';
@import 'forms';

@import 'composition/center';
@import 'composition/cover';
@import 'composition/repel';
@import 'composition/stack';
@import 'composition/box';
@import 'composition/cluster';
@import 'composition/switcher';
@import 'composition/reel';
@import 'composition/grid';
@import 'composition/nav-grid';

@import 'utilities/buttons';
@import 'utilities/spacing';
@import 'utilities/position';
@import 'utilities/display';
@import 'utilities/shapes';
@import 'utilities/sizes';
@import 'utilities/text';
@import 'utilities/transformations';

@import 'blocks/activities';
@import 'blocks/login';
@import 'blocks/stories';
@import 'blocks/accordian';
@import 'blocks/wizard';
@import 'blocks/table';
@import 'blocks/pieces-page';
@import 'blocks/dashboard';
@import 'blocks/progress-menu';
@import 'blocks/progress-circle';
@import 'blocks/card';
@import 'blocks/dropdown';
@import 'blocks/list';
@import 'blocks/dash-menu';
@import 'blocks/training-progress';
@import 'blocks/modal';
@import 'blocks/presenter';

html {
    font-size: 18px;
    scroll-behavior: smooth;

    &.is-reveal-open.zf-has-scroll {
      overflow-y: visible;
    }

    scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);
}

body {
    color: color('gray-900');
    background-color: color('white');
    font-size: var(--text-base-size);
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color-scheme: light dark;
    overflow-x: hidden;
}

footer {
  margin-top: auto;
}

hr {
  border-color: color('gray-200');
  width: 100%;
}

p {
  margin-bottom: spacing(0);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  & ul {
    margin: 0;
  }
}

.pieces-page ul,
.activity-page ul,
ul.bullets {
  list-style: disc;
  left: spacing(3);

  [dir="rtl"] & {
    left: unset;
    right: spacing(3);
  }
}

ul[role="list"] {
  li {
      padding-left: 1.7em;
      padding-bottom: .5em;
      position: relative;
  }

  li:before {
    content: "â—";
    font-size: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 0.9;
  }

  [dir="rtl"] & {
    li {
      padding-left: unset;
      padding-right: 1.7em;
    }

    li:before {
      left: unset;
      right: 0;
    }
  }
  &[data-brand-light] li:before {
    color: color('brand-light');
  }
  &.check-list li:before {
    font-family: 'Zume-Icons-Square';
    content: "\e900";
  }
  &.check-list[data-check-size="1"] li:before {
    font-size: 1em;
  }
  &.check-list[data-check-color="brand"] li:before {
    color: color('brand');
  }
}

a, a:visited {
    text-decoration: none;
}

::-webkit-scrollbar {
  inline-size: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--scroll-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-track-color);
  background-image: linear-gradient(
    to left,
    var(--scroll-track-color) 0,
    var(--scroll-track-color) 15%,
    var(--scroll-thumb-color) 15%,
    var(--scroll-thumb-color) 85%,
    var(--scroll-track-color) 85%
  );
}

input::-webkit-calendar-picker-indicator {
  filter: brightness(0);
}

.offset-anchor {
  position: absolute;
  top: -5rem;
}

[role="button"] {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: calc(90% + ( 10 / 100 * $min-width ) - ( 2 * $small-margin ) );
  max-width: $max-width;
}

.container-md {
  margin-left: auto;
  margin-right: auto;
  width: calc(70% + ( 30 / 100 * $min-width ) - ( 2 * $small-margin ) );
  max-width: $width-lg;
}

.container-sm {
  margin-left: auto;
  margin-right: auto;
  width: calc(50% + ( 50 / 100 * $min-width ) - ( 2 * $small-margin ) );
  max-width: $width-md;

  &[data-max-width="750"] {
    max-width: 750px;
  }
}

.container-xsm {
  margin-left: auto;
  margin-right: auto;
  width: calc(30% + ( 80 / 100 * $min-width ) - ( 2 * $small-margin ) );
  max-width: $width-sm;
}

.container-xsm {
  margin-left: auto;
  margin-right: auto;
  width: calc(30% + ( 80 / 100 * $min-width ) - ( 2 * $small-margin ) );
  max-width: $break-lg;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  z-index: 20;
  background-color: color('brand');
  color: color('white');
  padding-top: spacing(-2);
  padding-bottom: spacing(-2);
  text-align: center;
  font-size: 14px;
}

.nav {
  display: none;
  font-weight: 600;
  font-family: var(--font-family);
}

.nav__list {
  padding: 0;
}

.nav__button {
  padding-left: spacing(0);
  padding-right: spacing(0);
  padding-top: spacing(-5);
  padding-bottom: spacing(-5);
  font-weight: 400;
  text-transform: none;
}
.nav__link {
  display: flex;
  align-items: center;
  gap: spacing(-2);

  @include gap-fallback(-2);

  flex-grow: 0;
  padding-top: spacing(-3);
  padding-bottom: spacing(-3);
  padding-left: spacing(-1);
  padding-right: spacing(-1);
  border-radius: 100px;
  transition: all 100ms linear;
  transition-property: color, background-color;

  &:hover, &:active, &:focus {
    text-decoration: none;
    background-color: color('white');
    color: color('brand');
  }

  &.outline {
    border: 2px solid color('white');
  }

  & .icon {
    font-size: 1.3em;
  }
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__icon {
  display: inline-block;
  width: 30px;
  line-height: 1;

  &:hover, &:focus {
    svg {
        stroke: color('brand-lighter');
        fill: color('brand-lighter');
    }
  }
}

.nav-toggle {
  width: 2.5em;

  & > * {
    pointer-events: none;
  }
}

.hamburger {
  width: 60%;
  position: relative;
  --bar-spacing: 4px;
  --bar-width: 4px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: var(--bar-width);
  border-radius: 5px;
  background: color('white');
}
.hamburger.brand,
.hamburger.brand::before,
.hamburger.brand::after {
  background: color('brand');
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(calc( var(--bar-spacing) * -1 - var(--bar-width) ));
}

.hamburger::after {
  transform: translateY( var(--bar-spacing) );
}

#share-button {
  display: block;
}
.language-display-code {
  display: none;
}

.logo {
  display: flex;
  height: 30px;
}

.page {
  padding-top: spacing(4);
  padding-bottom: spacing(4);
}
.content {
  margin-bottom: spacing(7);
}

.line-text {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid color('gray-200');
  line-height: 0;

  & > * {
    background-color: color('white');
    padding: 0 spacing(0);
  }
}

.multiply-cover {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  max-height: 100vh;
  background-image: url('/wp-content/plugins/zume-training-system/site/assets/images/multiply.svg');
  background-size: 35vh;
  background-repeat: no-repeat;
  opacity: 0.2;
  background-position: center left;
}
.multiply-cover.color {
  background-image: url('/wp-content/plugins/zume-training-system/site/assets/images/MultiplyingDisciples-1.svg');
  opacity: 0.1;
}
.bg-world {
  background-image: url('/wp-content/plugins/zume-training-system/site/assets/images/world-map.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.05;
}
.bg-path {
  bottom: -59%;
  left: -25%;
  right: -100%;
  z-index: -1;

  [dir="rtl"] & {
    left: -100%;
    right: -25%;
  }
}

.flip {
  transform: scaleX(-1);
}

.banner[data-state='empty'] {
  opacity: 0;
  transform: translateY(0.25em);
  transition: none;
  padding: 0;
}
.banner {
  padding: spacing(0);
  color: inherit;
  background-color: color('white');
  border: 2px solid color('gray-500');
  border-radius: var(--border-radius);
  transition: opacity 300ms ease 200ms,
  transform 500ms cubic-bezier(0.5,0.05,0.2,1.5) 200ms;
}

.banner.warning {
  background-color: color('warning-main');
}
.banner.success {
  background-color: color('success');
  color: color('white');
  border: none;
}

.video-frame {
  border: 2px solid color('white');
  border-radius: var(--border-radius);
}
.video-play-button {
  cursor: pointer;
}
.video-play {
  --play-button-size: #{spacing(4)};
  --play-button-color: #{color('brand-lighter')};
  --play-button-hover-color: #{color('brand')};
  --play-button-shadow: var(--z-box-shadow-hard);
}
.home-video-play {
  --play-button-size: #{spacing(4)};
  --play-button-color: #{color('brand')};
  --play-button-hover-color: #{color('brand-light')};
  --play-button-shadow: var(--z-box-shadow-hard);
}

.real-people {
  filter: opacity(0.7);
}

.stats-grid {
  max-width: 52rem;
}

.sticker {
  border-radius: 50%;
  color: color('white');
  background-color: color('brand-light');
  aspect-ratio: 1;
  text-align: center;
  line-height: 1;

  &[data-free] {
    transform: translate( 110%, -25% );
  }
}

.aspect-ratio {
  &__fallback {
    display: none;
  }
}
@supports not (aspect-ratio: 1 / 1) {
  .aspect-ratio {
    &__fallback {
      display: block;
    }
    display: grid;
  }
  .aspect-ratio > * {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.step-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid color('brand-light');

  &.complete {
    background-color: color('brand-light');
  }
}

.thumbnail {
  border: 1px solid color('grey');
  border-radius: var(--border-radius);
  background-position: center;
  background-size: cover;
  padding-bottom: 100%;
}

.resources-cover {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -1rem;

  background: linear-gradient( transparent, color('gray-100') 50% );
}

.app-download {
  width: 250px;
  border-radius: 13px;
}
.app-bg-circle {
  border-radius: 50%;
  aspect-ratio: 1;
  z-index: -1;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}
@supports not (aspect-ratio: 1) {
  .app-bg-circle {
    display: none;
  }
}

.tail {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
  }
  &.right::after {
    right: 1px;
    transform: translateX(100%);

    [dir="rtl"] & {
      right: unset;
      left: 1px;
      transform: translateX(-100%);
    }
  }
  &.left::after {
    left: 1px;
    transform: translateX(-100%);

    [dir="rtl"] & {
      left: unset;
      right: 1px;
      transform: translateX(100%);
    }
  }

  &.bg-white::after {
    background-color: color('white');
  }
  &.bg-brand-light::after {
    background-color: color('brand-light');
  }
}
.circle-head {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 500px;
    aspect-ratio: 1;
  }

  @supports not (aspect-ratio: 1 ) {
    &::before {
      content: unset;
    }
  }


  &.right::before {
    transform: translateX(-50%);
    left: 0;

    [dir="rtl"] & {
      left: unset;
      right: 0;
      transform: translateX(50%);
    }
  }
  &.left::before {
    transform: translateX(50%);
    right: 0;

    [dir="rtl"] & {
      right: unset;
      left: 0;
      transform: translateX(-50%);
    }
  }

  &.bg-white::before {
    background: color('white');
  }
  &.bg-brand-light::before {
    background: color('brand-light');
  }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spiner {
  display: none;
}
.loading-spinner.active {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid #919191;
  border-top-color: black;
  animation: spin 1s infinite linear;
  display: inline-block;
}
.clickable-area {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(10vw + 80px);
  transition: all 100ms linear;
}
@media (hover: hover) {
  .clickable-area:hover {
    opacity: 1;
  }
}
.clickable-area.back {
  left: 0;
}
.clickable-area.forward {
  right: 0;
}

.context-alert[data-state='empty'] {
  opacity: 0;
  transform: translateY(0.25em);
  transition: none;
}

.context-alert {
  top: auto;
  right: 0;
  bottom: 85%;
  left: 0;
  padding: 0.25em;
  color: color('white');
  font-weight: bold;
  text-align: center;
  transition: opacity 300ms ease 200ms,
    transform 500ms cubic-bezier(0.5,0.05,0.2,1.5) 200ms;
  border-radius: var(--border-radius);
}
.context-alert:after {
    content: "";
    display: block;
    height: 0.5em;
    top: auto;
    right: auto;
    bottom: -0.25em;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 0.5em;
}
.context-alert, .context-alert:after {
  background: color('brand-light');
  position: absolute;
}
.course-index {
  min-height: 100vh;
  padding-top: spacing(2);
  padding-bottom: spacing(2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1;
}

.zume-collapse {
  height: 0;
  transition: height 0.2s ease-out;
  overflow: hidden;
}
.zume-collapse[data-state="open"] {
  overflow: initial;
  height: auto;
}
.training-path {
  position: relative;
}
.training-path:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(50%,63%);
    content: "";
    width: 10px;
    height: 45px;
    background-image: radial-gradient(circle at 5px,var(--z-brand-light) 3px,rgba(255,255,255,0) 3px);
    background-position: top,right,bottom,left;
    background-size: 14px 15px
}
.training-page {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  & .left-menu {
    display: flex;
    flex-direction: column;
    max-width: 26rem;
    min-height: 100vh;

    position: sticky;
    top: 3rem;
    align-self: flex-start;

    & > :last-child {
      flex-grow: 2;
    }
  }

  & .content {
    margin-left: spacing(2);
    margin-right: spacing(2);
  }
}

.training-link {
  padding-top: spacing(-3);
  padding-bottom: spacing(-3);
  transition: all 100ms linear;

  & > a {
    color: color('black');

    &:link {
      text-decoration: none;
    }
  }

  &.active {
    background-color: color('gray-100');
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    [dir="rtl"] & {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;

      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    position: relative;

    & > a {
      font-weight: 600;
    }

    &:before {
      content: '';
      width: 7px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: color('brand-light');

      [dir="rtl"] & {
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        left: unset;
        right: 0;
      }
    }
  }
}

.concepts__title {
  color: color('white');
  background-color: color('brand-light');
  padding: spacing(0);
  line-height: 1;
  border-radius: 0.5rem;
  font-size: font-size(1);
}
.concepts__tick {
  color: color('brand-light');
  background-color: color('gray-100');
  line-height: 1;
  padding: spacing(-1) spacing(1);
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
}
.training-card[role="button"] {
  color: color('black');
  justify-content: center;
  aspect-ratio: 1;
  margin-left: auto;
  margin-right: auto;
  padding: spacing(1);
  max-width: 16rem;
  width: 100%;
  text-align: center;
}
.share-list__wrapper {
  background-color: color('gray-200');
}
.token {
    border-radius: 100px;
    padding: 0.1rem 0.6rem;
    background-color: color('brand-fade');
    color: color('brand-light');
}
.zume-date-picker {
  max-width: 250px;
  width: 100%;
}
.chevron {
  transition: transform 120ms linear;
}

@media (min-width: $break-lg) {
    #share-button,
    .nav-toggle {
        display: none;
    }

    .nav-toggle.show {
      display: block;
    }

    .language-display-code {
      display: inline;
    }

    .nav {
        display: flex;
    }

}

.footer {
  color: color('white');
  background-color: color('brand');
  font-size: 0.75rem;
  padding: var(--s2) 0;

    .icon {
        width: 1em;
        height: 1em;

        &:hover, &:focus {
            svg {
                stroke: color('brand-lighter');
                fill: color('brand-lighter');
            }
        }
    }

    @supports (inset: 0) {
      launch-course {
          margin-right: calc( -1 * var(--s0, 1em) );
      }
    }
}
@media (max-width: $break-lg) {
  .training-page {
    display: block;

    & .left-menu {
      display: none;
    }
  }

  .footer .footer-links {
    justify-content: center;
  }
}

@media (max-width: $break-md) {
  .footer .footer-links-list {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: $break-sm) {
  .copyright {
    order: 2;
  }
}
