@use 'sass:color';

@import '../../fonts/ZumeIcons/style.css';

@import 'reset';
@import 'variables';
@import 'functions';
@import 'root-variables';
@import 'colors';
@import 'icons';
@import 'typography';
@import 'forms';

@import 'composition/center';
@import 'composition/cover';
@import 'composition/stack';
@import 'composition/box';
@import 'composition/cluster';
@import 'composition/switcher';
@import 'composition/reel';
@import 'composition/grid';

@import 'utilities/buttons';
@import 'utilities/spacing';
@import 'utilities/position';
@import 'utilities/display';
@import 'utilities/shapes';
@import 'utilities/sizes';
@import 'utilities/text';

@import 'blocks/login';
@import 'blocks/stories';
@import 'blocks/accordian';
@import 'blocks/wizard';
@import 'blocks/table';
@import 'blocks/pieces-page';

html {
    font-size: 18px;
}

body {
    color: color('gray-900');
    background-color: color('white');
    font-size: var(--text-base-size);
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color-scheme: light dark;
    overflow-x: hidden;
}

footer {
  margin-top: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.pieces-page ul,
ul[role="list"] {
  li {
    text-indent: -1.7;
  }

  li:before {
    content: "â—";
    font-size: 1.5em;
    padding-inline-end: 0.7rem;
    vertical-align: middle;
  }
  &.check-list li:before {
    font-family: 'Zume-Icons';
    content: "\e900";
  }
  &.check-list[data-check-size="1"] li:before {
    font-size: 1em;
  }
  &.check-list[data-check-color="brand"] li:before {
    color: color('brand');
  }
}


a, a:visited {
    text-decoration: none;
}

.container {
  margin-inline: auto;
  width: calc(90% + ( 10 / 100 * $min-width ) - ( 2 * $small-margin ) );
  max-width: $max-width;
}

.container-md {
  margin-inline: auto;
  width: calc(70% + ( 30 / 100 * $min-width ) - ( 2 * $small-margin ) );
  max-width: $width-lg;
}

.container-sm {
  margin-inline: auto;
  width: calc(50% + ( 50 / 100 * $min-width ) - ( 2 * $small-margin ) );
  max-width: $width-md;
}

.container-xsm {
  margin-inline: auto;
  width: calc(30% + ( 70 / 100 * $min-width ) - ( 2 * $small-margin ) );
  max-width: $width-sm;
}

.container-xsm {
  margin-inline: auto;
  width: calc(30% + ( 70 / 100 * $min-width ) - ( 2 * $small-margin ) );
  max-width: $break-lg;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  z-index: 5;
  background-color: color('brand');
  color: color('white');
  padding: spacing(-2) spacing(2);
  text-align: center;
  font-size: 14px;
}

.nav {
  display: none;
  font-weight: 600;
  font-family: var(--font-family);
}

.nav--visible {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 2.4rem;
  z-index: 10;
  background-color: color('brand');
  border: 1px solid color('brand');
  border-top: none;
  padding: 1rem 2rem;
}

.nav__list {
  padding: 0;
}

.nav__button {
  padding-inline: spacing(0);
  padding-block: spacing(-5);
  font-weight: 400;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__icon {
  display: inline-block;
  width: 30px;
  line-height: 1;

  &:hover, &:focus {
    svg {
        stroke: color('brand-lighter');
        fill: color('brand-lighter');
    }
  }
}

.nav-toggle {
  cursor: pointer;
  width: 3em;
  height: 2em;
  border: 1px;
  border-radius: 5px;
  color: color('white');

  top: -15px;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: color('white');
}
.hamburger.brand,
.hamburger.brand::before,
.hamburger.brand::after {
  background: color('brand');
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.logo {
  display: flex;
  width: 150px;
  height: 30px;
}

.page {
  padding-block: spacing(4)
}

.line-text {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid color('gray-200');
  line-height: 0;

  & > * {
    background-color: color('white');
    padding: 0 spacing(0);
  }
}

.multiply-cover {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  max-height: 100vh;
  background-image: url('/wp-content/plugins/zume-training-system/site/assets/images/multiply.svg');
  background-size: 35vh;
  background-repeat: no-repeat;
  opacity: 0.2;
  background-position: center left;
}
.multiply-cover.color {
  background-image: url('/wp-content/plugins/zume-training-system/site/assets/images/MultiplyingDisciples-1.svg');
  opacity: 0.1;
}
.bg-world {
  background-image: url('/wp-content/plugins/zume-training-system/site/assets/images/world-map.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.05;
}
.bg-path {
  bottom: -59%;
  left: -25%;
  right: -100%;
  z-index: -1;
}

.flip {
  transform: scaleX(-1);
}

.banner[data-state='empty'] {
  opacity: 0;
  transform: translateY(0.25em);
  transition: none;
}
.banner {
  padding: spacing(0);
  color: inherit;
  background-color: color('white');
  border: 2px solid color('gray-500');
  border-radius: var(--border-radius);
  transition: opacity 300ms ease 200ms,
  transform 500ms cubic-bezier(0.5,0.05,0.2,1.5) 200ms;
}

.banner.warning {
  background-color: color('warning-main');
}

.video-frame {
  border: 2px solid color('white');
  border-radius: var(--border-radius);
}
.video-play-button {
  cursor: pointer;
}
.video-play {
  --play-button-size: #{spacing(4)};
  --play-button-color: #{color('brand-lighter')};
  --play-button-hover-color: #{color('brand')};
  --play-button-shadow: var(--z-box-shadow-hard);
}
.home-video-play {
  --play-button-size: #{spacing(4)};
  --play-button-color: #{color('brand')};
  --play-button-hover-color: #{color('brand-light')};
  --play-button-shadow: var(--z-box-shadow-hard);
}

.real-people {
  filter: opacity(0.7);
}

.stats-grid {
  max-width: 52rem;
}

.sticker {
  border-radius: 50%;
  color: color('white');
  background-color: color('brand-light');
  aspect-ratio: 1;
  text-align: center;
  line-height: 1;

  &[data-free] {
    transform: translate( 110%, -25% );
  }
}

.step-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid color('brand');

  &.complete {
    background-color: color('brand');
  }
}

.thumbnail {
  border: 1px solid color('grey');
  border-radius: var(--border-radius);
  background-position: center;
  background-size: cover;
  padding-bottom: 100%;
}

.resources-cover {
  margin-inline: -1rem;
  margin-block-end: -1rem;

  background: linear-gradient( transparent, color('gray-100') 50% );
}

.app-download {
  width: 250px;
  border-radius: 13px;
}
.app-bg-circle {
  border-radius: 50%;
  aspect-ratio: 1;
  z-index: -1;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}
.tail {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
  }
  &.right::after {
    right: 1px;
    transform: translateX(100%);
  }
  &.left::after {
    left: 1px;
    transform: translateX(-100%);
  }

  &.bg-white::after {
    background-color: color('white');
  }
  &.bg-brand-light::after {
    background-color: color('brand-light');
  }
}
.circle-head {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 500px;
    aspect-ratio: 1;

  }
  &.right::before {
    transform: translateX(-50%);
    left: 0;
  }
  &.left::before {
    transform: translateX(50%);
    right: 0;
  }

  &.bg-white::before {
    background: color('white');
  }
  &.bg-brand-light::before {
    background: color('brand-light');
  }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spiner {
  display: none;
}
.loading-spinner.active {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid #919191;
  border-top-color: black;
  animation: spin 1s infinite linear;
  display: inline-block;
}
.clickable-area {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(10vw + 80px);
  transition: all 100ms linear;
}
@media (hover: hover) {
  .clickable-area:hover {
    opacity: 1;
  }
}
.clickable-area.back {
  left: 0;
}
.clickable-area.forward {
  right: 0;
}

.context-alert[data-state='empty'] {
  opacity: 0;
  transform: translateY(0.25em);
  transition: none;
}

.context-alert {
  inset: auto 0 calc(100% + 0.5em) 0;
  padding: 0.25em;
  color: color('white');
  font-weight: bold;
  text-align: center;
  transition: opacity 300ms ease 200ms,
    transform 500ms cubic-bezier(0.5,0.05,0.2,1.5) 200ms;
  border-radius: var(--border-radius);
}
.context-alert:after {
    content: "";
    display: block;
    height: 0.5em;
    inset: auto auto -0.25em 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 0.5em;
}
.context-alert, .context-alert:after {
  background: color('brand-light');
  position: absolute;
}

@media (min-width: $break-lg) {

    .nav-toggle {
        display: none;
    }
    .nav-toggle.show {
      display: block;
    }

    .nav {
        display: flex;
    }

}

.footer {
  color: color('white');
  background-color: color('brand');
  font-size: 0.75rem;
  padding: var(--s2) 0;
}
@media (max-width: $break-lg) {
  .footer .footer-links {
    justify-content: center;
  }
}

@media (max-width: $break-md) {
  .footer .footer-links-list {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: $break-sm) {
  .copyright {
    order: 2;
  }
}