h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-family);
  color: var(--header-color-light);

  .invert & {
    color: var(--header-color-dark);
  }
}

h1, .h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: font-size(3);
}

h2, .h2 {
    font-weight: bold;
    font-size: font-size(3);
}

h3, .h3 {
    font-size: font-size(2);
    font-weight: bold;
}

h4, .h4 {
    font-size: font-size(2);
    text-transform: uppercase;
}

h5, .h5 {
    font-size: font-size(1);
}

$font-sizes: (-1, 0);

@each $font-size in $font-sizes {
    .f-#{$font-size} {
        font-size: font-size($font-size);
    }
}