h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-family);
}

h1, .h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: font-size(3);
}

h2, .h2 {
    font-weight: bold;
    font-size: font-size(3);
}

h3, .h3 {
    font-size: font-size(2);
    font-weight: bold;
}

h4, .h4 {
    font-size: font-size(1);
    text-transform: uppercase;
    font-weight: bold;
}

h5, .h5 {
    font-size: font-size(1);
}

h6, .h6 {
    font-size: font-size(0);
    text-decoration: underline;
}

p {
    font-size: font-size(0);
}

b {
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

.f-cursive {
    font-family: var(--font-cursive);
}

.lh1 {
    line-height: 1;
}

@for $font-size from -2 through 6 {
    .f-#{$font-size} {
        font-size: font-size($font-size);
    }
}