@font-face {
  font-family: 'Zume-Icons-Square';
  src:  url('fonts/Zume-Icons-Square.eot?coy519');
  src:  url('fonts/Zume-Icons-Square.eot?coy519#iefix') format('embedded-opentype'),
    url('fonts/Zume-Icons-Square.ttf?coy519') format('truetype'),
    url('fonts/Zume-Icons-Square.woff?coy519') format('woff'),
    url('fonts/Zume-Icons-Square.svg?coy519#Zume-Icons-Square') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="zume-"], [class*=" zume-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Zume-Icons-Square' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zume-check-mark:before {
  content: "\e900";
}
.zume-progress:before {
  content: "\e902";
}
.zume-community:before {
  content: "\e916";
}
.zume-pencil:before {
  content: "\e901";
}
.zume-location:before {
  content: "\e903";
}
.zume-invite:before {
  content: "\e904";
}
.zume-profile:before {
  content: "\e905";
}
.zume-phone:before {
  content: "\e906";
}
.zume-start-group:before {
  content: "\e907";
}
.zume-public-training:before {
  content: "\e908";
}
.zume-course:before {
  content: "\e909";
}
.zume-session-choice:before {
  content: "\e90a";
}
.zume-start-date:before {
  content: "\e90b";
}
.zume-time:before {
  content: "\e90c";
}
.zume-coach:before {
  content: "\e90d";
}
.zume-start:before {
  content: "\e90e";
}
.zume-locked:before {
  content: "\e90f";
}
.zume-churches:before {
  content: "\e910";
}
.zume-plans:before {
  content: "\e911";
}
.zume-tools:before {
  content: "\e912";
}
.zume-group:before {
  content: "\e913";
}
.zume-practicing:before {
  content: "\e914";
}
.zume-training:before {
  content: "\e915";
}
