@font-face {
  font-family: 'Zume-Icons-Square';
  src:  url('fonts/Zume-Icons-Square.eot?d5jqe2');
  src:  url('fonts/Zume-Icons-Square.eot?d5jqe2#iefix') format('embedded-opentype'),
    url('fonts/Zume-Icons-Square.ttf?d5jqe2') format('truetype'),
    url('fonts/Zume-Icons-Square.woff?d5jqe2') format('woff'),
    url('fonts/Zume-Icons-Square.svg?d5jqe2#Zume-Icons-Square') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="z-icon-"], [class*=" z-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Zume-Icons-Square' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.z-icon-look-back:before {
  content: "\e93c";
}
.z-icon-dashboard:before {
  content: "\e93b";
}
.z-icon-watch:before {
  content: "\e937";
}
.z-icon-review:before {
  content: "\e938";
}
.z-icon-overview:before {
  content: "\e939";
}
.z-icon-discuss:before {
  content: "\e93a";
}
.z-icon-pray:before {
  content: "\e935";
}
.z-icon-checkin:before {
  content: "\e936";
}
.z-icon-progress-locked:before {
  content: "\e928";
}
.z-icon-close:before {
  content: "\e91d";
}
.z-icon-sort-all:before {
  content: "\e91e";
}
.z-icon-sort-done:before {
  content: "\e91f";
}
.z-icon-sort-todo:before {
  content: "\e920";
}
.z-icon-plans-locked:before {
  content: "\e912";
}
.z-icon-coach-locked:before {
  content: "\e926";
}
.z-icon-my-training-locked:before {
  content: "\e927";
}
.z-icon-tools-locked:before {
  content: "\e929";
}
.z-icon-churches-locked:before {
  content: "\e92a";
}
.z-icon-maps-locked:before {
  content: "\e92b";
}
.z-icon-locked-circle:before {
  content: "\e92c";
}
.z-icon-info:before {
  content: "\e921";
}
.z-icon-community:before {
  content: "\e92d";
}
.z-icon-resources:before {
  content: "\e922";
}
.z-icon-train-concept:before {
  content: "\e92e";
}
.z-icon-coach-old:before {
  content: "\e92f";
}
.z-icon-my-training:before {
  content: "\e930";
}
.z-icon-share-concept:before {
  content: "\e931";
}
.z-icon-tools:before {
  content: "\e932";
}
.z-icon-obey-concept:before {
  content: "\e933";
}
.z-icon-heard-concept:before {
  content: "\e923";
}
.z-icon-play:before {
  content: "\e924";
}
.z-icon-share:before {
  content: "\e925";
}
.z-icon-unlocked:before {
  content: "\e934";
}
.z-icon-check-mark:before {
  content: "\e900";
}
.z-icon-world:before {
  content: "\e916";
}
.z-icon-coach:before {
  content: "\e90d";
}
.z-icon-start:before {
  content: "\e90e";
}
.z-icon-plans:before {
  content: "\e911";
}
.z-icon-locked:before {
  content: "\e90f";
}
.z-icon-group:before {
  content: "\e913";
}
.z-icon-progress:before {
  content: "\e902";
}
.z-icon-pencil:before {
  content: "\e901";
}
.z-icon-churches:before {
  content: "\e910";
}
.z-icon-maps:before {
  content: "\e903";
}
.z-icon-practicing:before {
  content: "\e914";
}
.z-icon-training:before {
  content: "\e915";
}
.z-icon-plus:before {
  content: "\e917";
}
.z-icon-grid:before {
  content: "\e918";
}
.z-icon-filter:before {
  content: "\e919";
}
.z-icon-trash:before {
  content: "\e91a";
}
.z-icon-kebab:before {
  content: "\e91b";
}
.z-icon-list:before {
  content: "\e91c";
}
.z-icon-invite:before {
  content: "\e904";
}
.z-icon-profile:before {
  content: "\e905";
}
.z-icon-phone:before {
  content: "\e906";
}
.z-icon-start-group:before {
  content: "\e907";
}
.z-icon-public-training:before {
  content: "\e908";
}
.z-icon-course:before {
  content: "\e909";
}
.z-icon-session-choice:before {
  content: "\e90a";
}
.z-icon-start-date:before {
  content: "\e90b";
}
.z-icon-time:before {
  content: "\e90c";
}
