@font-face {
  font-family: 'Zume-Icons-Square';
  src:  url('fonts/Zume-Icons-Square.eot?pzb5aa');
  src:  url('fonts/Zume-Icons-Square.eot?pzb5aa#iefix') format('embedded-opentype'),
    url('fonts/Zume-Icons-Square.ttf?pzb5aa') format('truetype'),
    url('fonts/Zume-Icons-Square.woff?pzb5aa') format('woff'),
    url('fonts/Zume-Icons-Square.svg?pzb5aa#Zume-Icons-Square') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="zume-"], [class*=" zume-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Zume-Icons-Square' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zume-dashboard:before {
  content: "\e93b";
}
.zume-watch:before {
  content: "\e937";
}
.zume-review:before {
  content: "\e938";
}
.zume-overview:before {
  content: "\e939";
}
.zume-discuss:before {
  content: "\e93a";
}
.zume-pray:before {
  content: "\e935";
}
.zume-checkin:before {
  content: "\e936";
}
.zume-progress-locked:before {
  content: "\e928";
}
.zume-close:before {
  content: "\e91d";
}
.zume-sort-all:before {
  content: "\e91e";
}
.zume-sort-done:before {
  content: "\e91f";
}
.zume-sort-todo:before {
  content: "\e920";
}
.zume-plans-locked:before {
  content: "\e912";
}
.zume-coach-locked:before {
  content: "\e926";
}
.zume-group-locked:before {
  content: "\e927";
}
.zume-tools-locked:before {
  content: "\e929";
}
.zume-churches-locked:before {
  content: "\e92a";
}
.zume-maps-locked:before {
  content: "\e92b";
}
.zume-locked-circle:before {
  content: "\e92c";
}
.zume-info:before {
  content: "\e921";
}
.zume-community:before {
  content: "\e92d";
}
.zume-resources:before {
  content: "\e922";
}
.zume-train-concept:before {
  content: "\e92e";
}
.zume-coach-old:before {
  content: "\e92f";
}
.zume-my-training:before {
  content: "\e930";
}
.zume-share-concept:before {
  content: "\e931";
}
.zume-tools:before {
  content: "\e932";
}
.zume-obey-concept:before {
  content: "\e933";
}
.zume-heard-concept:before {
  content: "\e923";
}
.zume-play:before {
  content: "\e924";
}
.zume-share:before {
  content: "\e925";
}
.zume-unlocked:before {
  content: "\e934";
}
.zume-check-mark:before {
  content: "\e900";
}
.zume-world:before {
  content: "\e916";
}
.zume-coach:before {
  content: "\e90d";
}
.zume-start:before {
  content: "\e90e";
}
.zume-plans:before {
  content: "\e911";
}
.zume-locked:before {
  content: "\e90f";
}
.zume-group:before {
  content: "\e913";
}
.zume-progress:before {
  content: "\e902";
}
.zume-pencil:before {
  content: "\e901";
}
.zume-churches:before {
  content: "\e910";
}
.zume-maps:before {
  content: "\e903";
}
.zume-practicing:before {
  content: "\e914";
}
.zume-training:before {
  content: "\e915";
}
.zume-plus:before {
  content: "\e917";
}
.zume-grid:before {
  content: "\e918";
}
.zume-filter:before {
  content: "\e919";
}
.zume-trash:before {
  content: "\e91a";
}
.zume-kebab:before {
  content: "\e91b";
}
.zume-list:before {
  content: "\e91c";
}
.zume-invite:before {
  content: "\e904";
}
.zume-profile:before {
  content: "\e905";
}
.zume-phone:before {
  content: "\e906";
}
.zume-start-group:before {
  content: "\e907";
}
.zume-public-training:before {
  content: "\e908";
}
.zume-course:before {
  content: "\e909";
}
.zume-session-choice:before {
  content: "\e90a";
}
.zume-start-date:before {
  content: "\e90b";
}
.zume-time:before {
  content: "\e90c";
}
